@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Pushster&display=swap');

.icon-lixeira{
  width: 25px;
  margin: auto;
}

.deleteButton{
  border: none;
  cursor: pointer;
  padding: 5px;
  width: 50px;
  height: 50px;
  display: grid;
  place-content: center;
  border-radius: .2rem;
  background-color: white;
  color: #d13a85;
  transform: scale(1);
}

.deleteButton:hover{
  background-color: #d13a85;
  animation: dropShadowAnim .2s ease 0s 1 normal forwards;
  color: rgb(225, 225, 225);
}

.label{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Lato', sans-serif;
}

input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  justify-self: end;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: white;
  border-radius: .1rem;
}

.label:hover input[type="checkbox"] ~ .checkmark {
  background-color: rgb(225, 225, 225);
  animation: dropShadowAnim .2s ease 0s 1 normal forwards;

}

.label input[type="checkbox"]:checked ~ .checkmark {
  background-color: #99ff99;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

input[type="checkbox"]:checked ~ .checkmark:after {
  display: block;
}

.checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #242423;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}





@keyframes dropShadowAnim {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    transform: scale(1);
  }

  100% {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    transform: scale(1.4);
  }
}
